<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns="http://ch.qos.logback/xml/ns/logback"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:schemaLocation="http://ch.qos.logback/xml/ns/logback
               http://ch.qos.logback/xml/ns/logback/logback.xsd
               http://ch.qos.logback/xml/ns/logback ">
	<property name="APP_Name" value="udplearning" />
	<timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss" />
	<contextName>${APP_Name}</contextName>
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyyMMddHHmmss}|%-5level| %logger{0}.%M | %msg | %thread %n</pattern>
		</encoder>
	</appender>  
	
  <appender name="FILELOG" class="ch.qos.logback.core.rolling.RollingFileAppender">   
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">   
      <fileNamePattern>${catalina.home}/logs/app.%d{yyyyMMdd}.log</fileNamePattern>   
      <maxHistory>30</maxHistory>    
    </rollingPolicy>   
    <encoder>   
      <pattern>%d{yyMMddHHmmss.SSS}|%-5level| %msg%n</pattern>   
    </encoder>   
  </appender>
  
    <appender name="RUNLOG" class="ch.qos.logback.core.rolling.RollingFileAppender">   
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">   
      <fileNamePattern>${catalina.home}/logs/run.%d{yyyyMMdd}.log</fileNamePattern>   
      <maxHistory>7</maxHistory>    
    </rollingPolicy>   
    <encoder>   
      <pattern>%d{yyMMddHHmmss.SSS}|%-5level| %msg%n</pattern>   
    </encoder>   
  </appender>
  
	<logger name="com.example.demo" level="debug" additivity="false">
		<appender-ref ref="STDOUT" />  
		<appender-ref ref="FILELOG" />
	</logger>
    
	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
